
.shows {
  background-color: $gray-dark;

  table {
    width: 100%;
    border-collapse: collapse;
    tbody tr {
      border-bottom: 1px solid $gray-lighter;
      &:first-child {
        border-top: 1px solid $gray-lighter;
      }
    }
    th {
      text-transform: uppercase;
      text-align: left;
    }
    td, th {
      padding: 10px;
      color: white;
      &:last-child {
        text-align: right;
        font-weight: bold;
      }
      a {
        color: #a88275;
      }
    }
    .location {
      font-weight: bold;
    }
  }
}
